{% extends 'core/base.html' %}

{% block title %}CV{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-s.jpg' %}{% endblock %}

{% block headers %}
<h1>Currículo</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/sebastian.jpeg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Sebastián Fonseca Flores</h2>   
        <p>Nacido en Tlaxcala, México</p>
        <p><b>Extracto profesional:</b> <br>Programador en formación, con bases y dedicación a la rama de la computación, diseño web, áreas de multimedia.</p>
        <p><b>Objetivo profesional:</b> <br>Ser un programador capacitado, certificado y reconocido por distintas empresas con diversas capacidades en el área. 
        </p>
        <p><b>Perfil General</b></p>
        <p><ul>
        <li>Programador Front-End <b>Junior</b></li>
        <li>Programador en BD <b>Junior</b></li>
        <li>Diseñador Gráfico <b>Junior</b></li>
        <li>Conocimiento en Redes</li>
        <li>Conocimientos de Post-Producción</li>
        <li>Mantenimiento y soporte técnico </li>
        </ul>
        <p><b>Idioma</b></p>
        <ul>
        <li>Español -<b>Nativo</b></li>
        <li>Inglés -<b>Intermedio</b></li>
        </ul>
        <p><b>Lenguajes de Programación</b></p>
        <p><ul>
        <li>Python <br>
        ⚫ ⚫ ⚫ 🔘 🔘</li>
        <li>PHP  <br>
        ⚫ ⚫ ⚫ 🔘 🔘</li>
        <li>Javascript  <br>
        ⚫ ⚫ ⚫ 🔘 🔘</li>
        <li>Java  <br>
        ⚫ ⚫ 🔘 🔘 🔘</li>
        </ul>

        <p><b>Conocimientos</b></p>
        <p><ul>
        <li>Framework Laravel 6, 5.8, 5.6 <br>
        ⚫ ⚫ ⚫ ⚫ 🔘</li>
        <li>Framework Django 3 <br>
        ⚫ ⚫ ⚫ 🔘 🔘</li>
        <li>Html5  <br>
        ⚫ ⚫ ⚫ ⚫ 🔘</li>
        <li>CSS3  <br>
        ⚫ ⚫ ⚫ 🔘 🔘</li>
        <li>Bootstrap  <br>
        ⚫ ⚫ ⚫ 🔘 🔘</li>
        <li>Wordpress  <br>
        ⚫ ⚫ ⚫ 🔘 🔘</li>
        <li>SQL  <br>
        ⚫ ⚫ ⚫ 🔘 🔘</li>
        </ul>
        <p><b>Software</b></p>
        <p><ul>
        <li>Visual Studio Code, Sublime Text 3</li>
        <li>Workbench MySQL, HeidiSQL, PostgreSQL, MongoDB</li>
        <li>Adobe Photoshop, Premiere, Animate, Illustrator, Audition, Xd (2018)</li>
        <li>Enterprise Architect (2017)</li>
        <li>Office Word, Excel, PowerPoint, Project, Visio, Publisher (2019)</li>
        <li>Cinema 4D y Blender (2018) </li>
        </ul>
    <span>Banner photo by <a href="https://unsplash.com/@nubelsondev?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target=”_blank>Nubelson Fernandes</a> on <a href="https://unsplash.com/s/photos/developer?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target=”_blank>Unsplash</a></span>
    </div>
    
</div>
{% endblock %}