{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-u.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Cantáctame en cualquiera de las plataformas mostradas a continuación</p>
        <br>
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span> <b>sebas.fonsecaflores@gmail.com</b>
            <br>
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i></span> +52 <b>246 220 4233</b>
            <br>
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span><a href="https://www.linkedin.com/in/sebastianfonsecaflores/" target=”_blank”><b>SebastianFonsecaFlores</b></a>    
        <br>
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i></span><a href="https://github.com/SebasShogun" target=”_blank”><b>SebasShogun </b></a>    
        
        <br><br><br>
       <span>Banner Photo by <a href="https://unsplash.com/@liamtruong?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target=”_blank>Liam Truong</a> on <a href="https://unsplash.com/s/photos/mail?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target=”_blank>Unsplash</a></span>
    </div>
</div>
{% endblock %}